body {
    margin: 0;
    font-family: "Hiramino kaku Gothic ProN";
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.top-wrapper {
    padding: 180px 0 180px 0;
    background-image: url(kinniku.img/yamasawa01.png);
    background-size: cover;
    color: white;
    text-align: center;
}
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin: 10px;
}
.top-wrapper p {
    opacity: 0.7;
}

.btn-wrapper {
    margin: 25px 0;
}
.btn-wrapper p {
    margin: 10px 0;
}
.signup {
    background-color:#239b76;
  }
.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}
.twitter {
    background-color: #55acee;
}
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover {
    opacity: 1;/*opacityは要素全体を透過させるもの　値が大きいと透過はなくなる*/
}
.fa {
    margin-right: 5px;
}
header {
    height: 100px;
    width: 100%;
    background-color: rgba(5, 0, 0, 1);/*透過させる色指定　最後の１は透過率の設定値が低い場合は透過させる*/
    position:fixed;/*常に要素を画面上の指定した位置に固定(スクロールしても上部に固定表示)　positionを使用すると要素の重なりが生じる*/
    top: 0%;/**/
    z-index: 10;/*z-indexプロパティは要素の重なりの順序を指定する際に使用　整数値で指定し、値が大きい程上に表示される*/
    /*この要素はpositionプロパティと併用する必要がある*/
}
.logo {
    width: 100px;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}
.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
.header-right a {
    line-height: 100px;
    padding: 0 25px;
    color: white;
    display: block;
}
.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
.heading h2 {
    font-weight: normal;
}
.lesson {
    float: left;
    width: 25%;
}
.lesson-icon {
    position: relative;/*基準位置を決めるために使用*/
}
.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color:white;
}
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color:#b3aeb5;
}
.heading h3 {
    font-weight: normal;
}
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;/*カーソルの種類を変更*/
    padding: 15px 40px;
    box-shadow: 0 7px #1a7940;
}

.message:active {/*セレクタ:active は要素がクリックされている間だけCSSを適用*/
    position: relative;/*要素の位置変更の為に使用*/
    top: 7px;/*position:relativeとtopやleftを併用するとその要素を本来の位置からずらすことが可能;*/
    /*この場合はactiveの時にbox-shadowを打ち消す(none)ことによってposition: relative;とtopによって影の分だけ位置を下げる*/
    box-shadow: none;/*影を消すことができる*/
    
}
footer img {
    width:100px;
}
footer p {
    font-size: 12px;
    color: #b3aeb5;
}
footer {
    background-color: black;
    padding-top: 10px;
}